:root {
    --color-bg: #fff;
    --color-bg-2: #f9fafa;
    --color-text: #1f203d;
    --color-bg-pre: #020205;
    --color-text-pre: #dedede;
    --color-blue-ac-dark:#161229;
    --color-blue-ac-lighten:#4b3e8e;
    --color-blue-ac: #1fa5c7;
    --color-line: #d6dcdc;
    --padding-viewport: 5vw;
    --max-width-container: 1200px;
}

html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.7rem;
    background-color: var(--color-bg);
}
body {
    padding: 0;
    margin: 0;
}

a {
    color: var(--color-blue-ac);
}

h1, h2, h3, h4, h5 {
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1em;
}

article img {
    width: calc(100% + 8vh);
    margin-left: -4vh;
}

pre {
    background-color: var(--color-bg-pre);
    color: var(--color-text-pre);
    padding: 16px;
    overflow: auto;
    border-radius: 6px;
    line-height: 1.2rem;
}

pre code {
    background: transparent;
    padding: 0px;
}

code {
    padding: 3px 6px;
    margin: 0;
    font-size: 90%;
    background-color: #d9d9d9;
    border-radius: 6px;
}

.wrapper {

}

.hero-section {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    min-height: 380px;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: var(--padding-viewport);
    padding-right: var(--padding-viewport);
    background-color: var(--color-bg-2);
    color: var(--color-text);
}

.hero-section-with-bg {
    color: #fff;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.34);
}

.hero-section__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.hero-section__background-frontlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,rgb(14, 23, 47, 0.80) 10%,rgb(14, 23, 47, 0.15) 60%);
    pointer-events: none;
    z-index: 1;
}

.hero-section__content {
    width: 100%;
    max-width: var(--max-width-container);
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    height: inherit;
    padding-bottom: 2.2rem;
    padding-top: calc(5rem + 71px);
}

.hero-section__header {
    width: 100%;
}
.hero-section__category {
    margin: 0.5rem 0 0 0;
    line-height: 1.2em;
}
.hero-section__title {
    margin: 1.3rem 0 1.2rem 0;
    font-size: 2.3rem;
    line-height: 1.2em;
}
.hero-section__row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 0 3px;
}
.hero-section__date {
    margin: 0 2rem 0 0;
}
.hero-section__author {
    margin: 0;
}
.hero-section__date, .hero-section__author {
    font-size: 92%;
}

.main-section {
    padding-top: 1.23rem;
    box-sizing: border-box;
    padding-left: var(--padding-viewport);
    padding-right: var(--padding-viewport);
}

.main-section__content{
    margin: 0 auto;
    max-width: var(--max-width-container);
}

.main-section__article {
}

.main-section__article-tags {
    border-bottom: 1px solid var(--color-line);
    width: 100%;
    padding: 1.4rem 0;
    margin-bottom: 1rem;
    font-size: 80%;
}

.main-section__article-tags ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    padding:0px;
    margin: 0px;
}

.main-section__article-tags ul li {
    margin-right: 2rem;
}

.main-section__article-tags a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.main-section__aside {
    margin-top: 2.4rem;
    display:none;
}

.responsive-picture {
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
}

.header {
    position: absolute;
    width: 100%;
    top:0;
    background: transparent;
    box-shadow: none;
    z-index: 3;
    border-bottom: 1px solid var(--color-line);
    box-sizing: border-box;
    padding-left: var(--padding-viewport);
    padding-right: var(--padding-viewport);
}

.header-transparent {
    border-bottom: none;
}

.header__content {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 27px 1fr auto;
    grid-auto-flow: row dense;
    height: inherit;
    margin: auto;
    max-width: var(--max-width-container);
    padding: 12px 0;
}
.header__brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
}

.header__brand > .accentio-logo {
    background-image: url('./public/img/brand_accentio_sm.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 52.58px;
    height: 40px;
    margin: 3px 10px;
}
.header__menu {
    display: none;
    position: relative;
    font-weight: 600;
    height: 100%;
}
.header__menu nav {
    height: inherit;
    width: 100%;
    margin: auto;
}
.header__menu ul {
    display: inline-flex;
    width: 100%;
    height: inherit;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    align-items: center;
}
.header__menu li {
    height: inherit;
    display: flex;
    align-items: center;
    margin: 0px 25px;
}
.header__menu a {
    height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.14em;
    font-kerning: normal;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: ease-in-out;
}
.header__menu a:hover {
    color: var(--color-blue-ac);
}
.header__cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer{
    width: 100%;
    padding: 3rem 0 2rem;
    background-color: var(--color-bg-2);
    box-sizing: border-box;
    padding-left: var(--padding-viewport);
    padding-right: var(--padding-viewport);
}
.footer__content{
    margin: auto;
    max-width: var(--max-width-container);
}

.footer__menu, .footer__menu-subitem {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer__menu-item {
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
}
.footer__menu-item-header {
    display: block;
    text-decoration: none;
    font-size: 100%;
    padding-bottom: 6px;
    margin-bottom: 1.3rem;
    border-bottom: 1px solid var(--color-line);
    color: var(--color-text);
    font-weight: bold;
}
.footer__menu-subitem li a {
    display: block;
    margin-bottom: 0.5em;
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    line-height: 1.7rem;
    transition: all .2s cubic-bezier(1, 0, 0, 1);
}
.footer__menu-subitem li a:hover {
    color: var(--color-blue-ac);
}

.footer__brand{
    width: 100%;
    padding: 1rem 0;
}
.footer__brand p{
    margin:0;
}

@media (min-width: 1000px) {
    .main-section__content{
        display: grid;
        grid-template-columns: 70% auto;
        grid-gap: 30px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 19px;
    }

    article img {
        width: 100%;
        margin-left: 0;
    }

    .hero-section {
        min-height: 500px;
    }

    .hero-section-with-bg {
        min-height: 80vh;
    }

    .hero-section__date, .hero-section__author {
        font-size: 75%;
    }
    .hero-section__title {
        margin: 1.3rem 0 1rem 0;
        font-size: 2.4rem;
    }

    .main-section__aside {
        display:block;
        margin-top: 0;
    }

    .footer__menu {
        grid-gap: 5rem;
        grid-template-columns: auto auto;
        grid-auto-flow: row dense;
        display: grid;
    }

}