<footer class="footer">
    <div class="footer__content">
            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <span class="footer__menu-item-header">
                        Group 1
                    </span>
                    <ul class="footer__menu-subitem">
                        <li>
                            <a href="#">Option 1</a>
                        </li>
                        <li>
                            <a href="#">Option 2</a>
                        </li>
                        <li>
                            <a href="#">Option 3</a>
                        </li>
                        <li>
                            <a href="#">Option 4</a>
                        </li>
                    </ul>
                </li>
                <li class="footer__menu-item">
                    <span class="footer__menu-item-header">
                        Group 2
                    </span>
                    <ul class="footer__menu-subitem">
                        <li>
                            <a href="#">Option 1</a>
                        </li>
                        <li>
                            <a href="#">Option 2</a>
                        </li>
                        <li>
                            <a href="#">Option 3</a>
                        </li>
                        <li>
                            <a href="#">Option 4</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="footer__brand">
                <div class="footer__brand-logo">

                </div>
                <div class="footer__brand-content">
                    <p>
                        Lorem ipsum dolor sit amet
                    </p>
                </div>
            </div>
    </div>
</footer>