<header class="header <%= heroimage ? 'header-transparent' : '' %>">
    <div class="header__content">
        <div class="header__brand">
            <div class="accentio-logo"></div>
        </div>
        <div id="menu-header-desktop" class="header__menu">
            <nav>
                <ul>
                    <!-- <li><a href="/web-development">Web Develop</a></li> -->
                    <li><a href="/about">Quienes somos</a></li>
                    <li><a href="/contact">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__cta">
            <a id="cta-header-desktop" 
            href="https://accentiostudios.com" 
            class="excelsior-hero-button-xl <%= heroimage ? 'white-muted-color' : 'primary-muted-l-color' %> primary-muted-l-color">
                Inicia con nosotros
            </a>
        </div>
    </div>
</header>