<footer class="footer">
    <div class="footer__content">
            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <span class="footer__menu-item-header">
                        Nosotros
                    </span>
                    <ul class="footer__menu-subitem">
                        <li>
                            <a href="https://www.linkedin.com/company/accentiostudios/">LinkedIn</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/AccentioStudios/">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/accentiostudios/">Instagram</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/AccentioStudios">Twitter</a>
                        </li>
                    </ul>
                </li>
                <li class="footer__menu-item">
                    <span class="footer__menu-item-header">
                        Contactanos
                    </span>
                    <ul class="footer__menu-subitem">
                        <li>
                            <a href="https://calendly.com/accentiostudios-alvaro/primer-contacto">Agenda una primera reunión</a>
                        </li>
                        <li>
                            <a href="mailto:hello@accentiostudios.com">Mándanos un email</a>
                        </li>
                    </ul>
                </li>
                {{!-- <li class="footer__menu-item">
                    <span class="footer__menu-item-header">
                        Categorias
                    </span>
                    <ul class="footer__menu-subitem">
                        <li>
                            <a href="#">Web Develop</a>
                        </li>
                        <li>
                            <a href="#">Web Tech</a>
                        </li>
                        <li>
                            <a href="#">UX Design</a>
                        </li>
                    </ul>
                </li> --}}
            </ul>
            <div class="footer__brand">
                <div class="footer__brand-logo">
                 <picture>
                    <img src="./public/img/logos/brand-logo-image-md-darkblue.svg" alt="Accentio Blog Logo">
                </picture>
                <p class="poweredby">
                    Powered by Scarletbook
                </p>
                </div>
                <div class="footer__brand-content">
                </div>
            </div>
    </div>
</footer>