<header id="header" class="header {{#if heroImage}} header-transparent {{/if}}">
    <div class="header__content">
        <a href="/">  

        <picture class="header__brand brand-darkblue animate__animated animate__fadeIn">
             <source srcset="./public/img/logos/brand-logo-image-md-darkblue.svg" media="(min-width: 1200px)">
            <img src="./public/img/logos/brand-logo-image-sm-darkblue.svg" alt="Accentio Blog Logo">
        </picture>

        <picture class="header__brand brand-white animate__animated animate__fadeIn ">
             <source srcset="./public/img/logos/brand-logo-image-md.svg" media="(min-width: 1200px)">
            <img src="./public/img/logos/brand-logo-image-sm.svg" alt="Accentio Blog Logo">
        </picture>


        </a>
        <div id="menu-header-desktop" class="header__menu">
            <nav>
                <ul>
                    <!-- <li><a href="/web-development">Web Develop</a></li> -->
                    <li><a href="/about">Quienes somos</a></li>
                    <li><a href="/contact">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__cta animate__animated animate__fadeIn">
            <a id="cta-header-desktop" href="https://accentiostudios.com" 
            class="excelsior-hero-button-xl">
                Inicia con nosotros
            </a>
        </div>
    </div>
<div class="read-progress-container">
    <progress value="50" id="blog-progress-bar" class="blog-progress-bar" max="100"></progress>
</div>
</header>