<header class="header {{#if heroImage}} header-transparent {{/if}}">
    <div class="header__content">
        <a href="/">        
         <picture class="header__brand animate__animated animate__fadeIn">
             <source srcset="./public/img/logos/brand-logo-image-md.svg" media="(min-width: 1200px)">
            <img src="./public/img/logos/brand-logo-image-sm.svg" alt="Accentio Blog Logo">
        </picture>
        </a>
        <div id="menu-header-desktop" class="header__menu">
            <nav>
                <ul>
                    <!-- <li><a href="/web-development">Web Develop</a></li> -->
                    <li><a href="/about">Quienes somos</a></li>
                    <li><a href="/contact">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__cta animate__animated animate__fadeIn">
            <a id="cta-header-desktop" href="https://accentiostudios.com" 
            class="excelsior-hero-button-xl 
            {{#if heroImage}} 
                white-muted-color 
            {{else}}
                primary-muted-l-color 
            {{/if}} 
            primary-muted-l-color">
                Inicia con nosotros
            </a>
        </div>
    </div>
</header>