<header class="header header-transparent">
    <div class="header__content">

        <picture class="header__brand brand-white animate__animated animate__fadeIn ">
             <source srcset="./public/img/logos/brand-logo-image-md.svg" media="(min-width: 1200px)">
            <img src="./public/img/logos/brand-logo-image-sm.svg" alt="Accentio Blog Logo">
        </picture>
        <div class="header__cta animate__animated animate__fadeIn">
            <a id="cta-header-desktop" href="https://accentiostudios.com" 
            class="excelsior-hero-button-xl 
            white-muted-color 
            primary-muted-l-color">
            
                Inicia con nosotros
            </a>
        </div>
    </div>
</header>