<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{{ getMetaTags }}}
    {{!-- animate css --}}
    <link rel="stylesheet" href="./css/animate.min.css"/>
    {{!-- style mobile --}}
    <link rel="stylesheet" href="./css/main.css" type="text/css">
    {{!-- style tablet --}}
    <link rel="stylesheet" href="./css/tablet.css" type="text/css" media="screen and (min-width: 600px)">
    {{!-- style desktop --}}
    <link rel="stylesheet" href="./css/desktop.css" type="text/css" media="screen and (min-width: 1000px)">
    {{!-- others styles --}}
    <link rel="stylesheet" href="./css/excelsior.css" type="text/css">
    {{!-- fonts --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
    {{!-- scripts --}}
    <script type="module" src="./js/heroSectionCarousel/heroSectionCarousel.js" async></script>
    <script type="module" src="./js/RelatedPosts/relatedPosts.js" async></script>
    {{{getGTag "head"}}}
    

</head>
<body class="wrapper">
    {{> homeHeader}}
    <main class="main">
        <section class="hero-section hero-section-with-bg hero-section-home-carr">
            <div class="spinner-ripple-container">
                <div class="spinner-ripple">
                <div></div><div></div>
                </div>
            </div>
        </section>
        {{!-- <section class="
        hero-section-cards-carr ">
            hero-section-home-carr__cards-container

            hero-section-cards-carr__content
            hero-section-home-carr__cards-content
        </section> --}}

        <section class="related-posts related-posts-home white">
        </section>
    </main>
    {{> footer}}
    {{{getGTag "body"}}}
</body>
<script nonce="{{{nonce}}}">

</script>

</html>