<div class="related-posts">
    <div class="related-posts__content">
        <h1 class="related-posts__header">
            Articulos relacionados
        </h1>
            <ul class="related-posts__grid">
                <li class="related-card flex-100">
                    <a class="related-card__body" href="">
                        <div class="related-card__content">
                            <h1>Lorem ipsum dolor sit amet</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam culpa ex</p>
                            <span class="related-card__tags">Tag</span>
                        </div>
                    </a>
                </li>
                <li class="related-card">
                    <a class="related-card__body" href="">
                        <div class="related-card__media-wrapper">
                            <img src="./public/img/stock2.jpg" alt="">
                        </div>
                        <div class="related-card__content">
                            <h1>Lorem ipsum dolor sit amet</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam culpa ex</p>
                            <span class="related-card__tags">Tag</span>
                        </div>
                    </a>
                </li>
                <li class="related-card">
                    <a class="related-card__body" href="">
                        <div class="related-card__media-wrapper">
                            <img src="./public/img/stock3.jpg" alt="">
                        </div>
                        <div class="related-card__content">
                            <h1>Lorem ipsum dolor sit amet</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam culpa ex</p>
                            <span class="related-card__tags">Tag</span>
                        </div>
                    </a>
                </li>
                <li class="related-card">
                    <a class="related-card__body" href="">
                        <div class="related-card__media-wrapper">
                            <img src="./public/img/stock4.jpg" alt="">
                        </div>
                        <div class="related-card__content">
                            <h1>Lorem ipsum dolor sit amet</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam culpa ex</p>
                            <span class="related-card__tags">Tag</span>
                        </div>
                    </a>
                </li>
            </ul>
    </div>
</div>

<%-"<style>"%>
    <%- include('./styles.css') %>
<%-"</style>"%>