* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-bg: #fff;
    --color-bg-2: #f9fafa;
    --color-text: #1f203d;
    --color-bg-pre: #020205;
    --color-text-pre: #dedede;
    --color-blue-ac-dark:#161229;
    --color-blue-ac-lighten:#4b3e8e;
    --color-blue-ac: #1fa5c7;
    --color-red-ac:#d81927;
    --color-line: #d6dcdc;
    --padding-viewport: 5vw;
    --max-width-container: 1200px;
    --hero-cards-height: 160px;
    --hero-cards-height-tablet-desktop: 200px;
}

html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.7rem;
    background-color: var(--color-bg);
}
body {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.0em;
}

a {
    color: var(--color-blue-ac);
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
    margin-bottom: 1.3rem;
    font-weight: 600;
    letter-spacing: -0.01em;
    font-stretch: expanded;
    transform: scaleY(1.03);
}

h1 {
    font-size:3rem;
}
h2 {
    font-size:2.0rem; 
}
h3 {
    font-size:1.5rem; 
}

article img {
    width: calc(100% + 8vh);
    margin-left: -4vh;
}

pre {
    background-color: var(--color-bg-pre);
    color: var(--color-text-pre);
    padding: 16px;
    overflow: auto;
    border-radius: 6px;
    line-height: 1.2em;
    font-size: 2.1rem;
    margin: 2rem 0;
}

pre code {
    background: transparent;
    padding: 0px;
}

code {
    padding: 3px 6px;
    margin: 0;
    font-size: 1.7rem;
    background-color: #d9d9d9;
    border-radius: 6px;
}

ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.wrapper {

}

.hero-section {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    min-height: 380px;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: var(--padding-viewport);
    padding-right: var(--padding-viewport);
    background-color: var(--color-bg-2);
    color: var(--color-text);
}

.hero-section-with-bg {
    color: #fff;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.34);
}

.hero-section__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.hero-section__background-frontlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,rgb(14, 23, 47, 0.80) 10%,rgb(14, 23, 47, 0.15) 80%);
    pointer-events: none;
    z-index: 1;
    animation-duration: 500ms;
}

.hero-section__background-image{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero-section__content {
    width: 100%;
    max-width: var(--max-width-container);
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    height: inherit;
    padding-bottom: 2.2rem;
    padding-top: calc(5rem + 71px);
}

.hero-section__header {
    width: 100%;
}
.hero-section__category {
    margin: 0.5rem 0 0 0;
    line-height: 1.2em;
    animation-duration: 600ms;
}
.hero-section__title {
    margin: 1rem 0 1rem 0;
    animation-duration: 400ms;
}

.hero-section__cta {
    margin: 1.8rem 0 1.5rem 0;
    animation-duration: 400ms;
}

.hero-section__row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 0 3px;
}
.hero-section__date {
    margin: 0 2rem 0 0;
}
.hero-section__author {
    margin: 0;
}
.hero-section__date, .hero-section__author {
    font-size: 1.25rem;
}

.main-section {
    padding-top: 2rem;
    box-sizing: border-box;
    padding-left: var(--padding-viewport);
    padding-right: var(--padding-viewport);
}

.main-section__content{
    margin: 0 auto;
    max-width: var(--max-width-container);
}

.main-section__article {
}

.main-section__article-tags {
    border-bottom: 1px solid var(--color-line);
    width: 100%;
    padding: 2.5rem 0;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.main-section__article-tags ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    padding:0px;
    margin: 0px;
}

.main-section__article-tags ul li {
    margin-right: 2rem;
}

.main-section__article-tags a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.main-section__aside {
    margin-top: 2.4rem;
    display:none;
}

.responsive-picture {
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
}

.header {
    position: absolute;
    width: 100%;
    top:0;
    background: transparent;
    box-shadow: none;
    z-index: 3;
    border-bottom: 1px solid var(--color-line);
    box-sizing: border-box;
    padding-left: var(--padding-viewport);
    padding-right: var(--padding-viewport);
}

.header-transparent {
    border-bottom: none;
}

.header__content {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 35px 1fr auto;
    grid-auto-flow: row dense;
    height: inherit;
    margin: auto;
    max-width: var(--max-width-container);
    padding: 1.1rem 0;
    align-items: center;
}
.header__brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
}

.header__brand {
    width: 35px;
    height: 35px;
    object-fit: contain;
    object-position: center;
}

.header__brand img {
    width: 100%;
    height: 100%;
}

.header__menu {
    display: none;
    position: relative;
    font-weight: 600;
    height: 100%;
}
.header__menu nav {
    height: inherit;
    width: 100%;
    margin: auto;
}
.header__menu ul {
    display: inline-flex;
    width: 100%;
    height: inherit;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    align-items: center;
}
.header__menu li {
    height: inherit;
    display: flex;
    align-items: center;
    margin: 0px 25px;
}
.header__menu a {
    height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.14em;
    font-kerning: normal;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: ease-in-out;
}
.header__menu a:hover {
    color: var(--color-blue-ac);
}
.header__cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer{
    width: 100%;
    padding: 3rem 0 2rem;
    background-color: var(--color-bg-2);
    box-sizing: border-box;
    padding-left: var(--padding-viewport);
    padding-right: var(--padding-viewport);
}
.footer__content{
    margin: auto;
    max-width: var(--max-width-container);
}

.footer__menu, .footer__menu-subitem {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer__menu-item {
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
}
.footer__menu-item-header {
    display: block;
    text-decoration: none;
    padding-bottom: 6px;
    margin-bottom: 1.2em;
    border-bottom: 1px solid var(--color-line);
    color: var(--color-text);
    font-weight: 600;
}
.footer__menu-subitem li a {
    display: block;
    margin-bottom: 0.5em;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 600;
    line-height: 1.7em;
    transition: all .2s cubic-bezier(1, 0, 0, 1);
}
.footer__menu-subitem li a:hover {
    color: var(--color-blue-ac);
}

.footer__brand{
    width: 100%;
    padding: 1rem 0;
}
.footer__brand p{
    margin:0;
}

.related-posts {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    min-height: 400px;
    background-color:var(--color-blue-ac-dark);
    padding: 5rem var(--padding-viewport);
}

.related-posts__content {
    position: relative;
    max-width: var(--max-width-container);
    margin: 0 auto;
}

.related-posts__header {
    width: 100%;
    font-size: 200%;
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 4rem;
}

.related-posts-home {
    background-color:white;
    padding: 7rem var(--padding-viewport);
}

.related-posts.related-posts-home .related-posts__content .related-posts__header {
    color: var(--color-text);
    text-align: left;
    margin-left: 0.5rem;
}

.related-posts__grid {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -5px;
    margin-right: -5px;
}

.related-card {
    flex: 33.3%;
    padding: 0;
    margin: 0;
    min-width: 300px;
}

.flex-100 {
    flex:100%;
}

.related-card__body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: inherit;
    border-radius: 7px;
    overflow: hidden;
    margin: 10px;
    text-decoration: none;
    color: var(--color-text);
}

.related-card__media-wrapper {
    position: relative;
    width: inherit;
    flex: 1 1 auto;
    height: 25vw;
    min-height: 200px;
    max-height: 380px;
}
.related-card__media-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    object-position: left;
}

.related-card__content {
    position: relative;
    display: flex;
    width: inherit;
    flex-direction: column;
    padding: 1.6rem 1.8rem;
    flex: 0 0 auto;
    background: var(--color-bg-2);
}

.related-card__content h1 {
    font-size: 108%;
}

.related-card__content p {
    font-size: 1.55rem;
    margin: 0rem 0 0.5rem 0;
    line-height: 1.7em;
}

.related-card__tags {
    font-size: 90%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}


.related-posts-home 
.related-posts__grid 
.related-card 
.related-card__body 
.related-card__content {
    padding: 1.6rem 0;
    background-color: white;
}

.related-posts-home 
.related-posts__grid 
.related-card 
.related-card__body 
.related-card__media-wrapper {
    border-radius: 7px;
    overflow: hidden;
}

.hero-section-home-carr {
    min-height: calc(100vh - var(--hero-cards-height));
    background-color: #f1f1f1;
}

.hero-section-cards-carr {
    display:flex;
    width: 100%;
    height: var(--hero-cards-height);
    background-color: var(--color-bg-2);
    padding-left: var(--padding-viewport);
    padding-right: var(--padding-viewport);
}

.hero-section-cards-carr__content {
    width: 100%;
    height: inherit;
    max-width: calc(var(--max-width-container));
    box-sizing: border-box;
    margin: 0 auto;
}

.carr-cards__grid {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
    list-style: none;
    width: calc(100% + 1.7rem);
    margin-left: -1.7rem;
    height: inherit;
}

.carr-cards__grid .carr-cards__card {
    position:relative;
    padding: 3rem 2rem 2rem 2rem;
    height: inherit;
    flex: 33.33%;
    min-width: 300px;
    animation-duration: 600ms;
}

/* .carr-cards__grid .carr-cards__card:nth-last-child(1) {
    padding-right: 0;
}

.carr-cards__grid .carr-cards__card:nth-child(1) {
    padding-left: 0;
} */

.carr-cards__grid .carr-cards__card .carr-cards__card-body {
    text-decoration: none;
    color: var(--color-text);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.carr-cards__grid .carr-cards__card .carr-cards__card-body .carr-cards__category {
    flex:10%;
}

.carr-cards__grid .carr-cards__card .carr-cards__card-body .carr-cards__title {
    overflow: hidden;
    text-overflow: ellipsis;
    flex:90%;
    font-size: 1.7rem;
    margin:0;
}

.carr-cards__grid .carr-cards__timeout {
    position: absolute;
    top: 13px;
    width: calc(100% - 4rem);
    height: 2px;
    background-color: white;
}

.carr-cards__grid .carr-cards__timeout .carr-cards__timeout-color {
    width: 0;
    height: 100%;
    background-color: var(--color-red-ac);
}

.carr-cards__grid .carr-cards__timeout .carr-cards__timeout-color.w-100 {
    width: 100%;
}


/*
 * Visual Studio 2015 dark style 
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

 .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #1E1E1E;
    color: #DCDCDC;
  }
  
  .hljs-keyword,
  .hljs-function {
    color: #6599ff;
  }
  
  .hljs-literal,
  .hljs-symbol,
  .hljs-name {
    color: #55e7b2;
  }
  .hljs-link {
    color: #6599ff;
    text-decoration: underline;
  }
  
  .hljs-built_in,
  .hljs-params {
    color: #f8518d;
  }
  .hljs-type {
    color: #4EC9B0;
  }
  
  .hljs-number,
  .hljs-class {
    color: #B8D7A3;
  }
  
  .hljs-string,
  .hljs-meta-string {
    color: #e9aefe;
  }
  
  .hljs-regexp,
  .hljs-template-tag {
    color: #9A5334;
  }
  
  .hljs-subst,
  .hljs-title,
  .hljs-formula {
    color: #DCDCDC;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #8a757d;
    font-style: italic;
  }
  
  .hljs-doctag {
    color: #608B4E;
  }
  
  .hljs-meta,
  .hljs-meta-keyword,
  .hljs-tag {
    color: #9B9B9B;
  }
  
  .hljs-variable,
  .hljs-template-variable {
    color: #f8518d;
  }
  
  .hljs-attr,
  .hljs-attribute,
  .hljs-builtin-name {
    color: #49e8f2;
  }
  
  .hljs-section {
    color: gold;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  
  /*.hljs-code {
    font-family:'Monospace';
  }*/
  
  .hljs-bullet,
  .hljs-selector-tag,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo {
    color: #D7BA7D;
  }
  
  .hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
  }
  
  .hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
  }

@keyframes spinner-ripple {
    0% {
      top: 47.47px;
      left: 47.47px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 8.585px;
      left: 8.585px;
      width: 77.77px;
      height: 77.77px;
      opacity: 0;
    }
  }.spinner-ripple div {
    position: absolute;
    border-width: 3.0300000000000002px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: spinner-ripple 1.1111111111111112s cubic-bezier(0,0.2,0.8,1) infinite;
  }.spinner-ripple div:nth-child(1) {
    border-color: #d81927;
    animation-delay: 0s;
  }
  .spinner-ripple div:nth-child(2) {
    border-color: #3baae2;
    animation-delay: -0.5555555555555556s;
  }
  .spinner-ripple-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
  }
  .spinner-ripple {
    width: 100px;
    height: 100px;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .spinner-ripple div { box-sizing: content-box; }
  /* generated by https://loading.io/ */