:root {
    --padding-viewport: 10vw;
}

body {
    font-size: 1.99rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.3em;
    margin-bottom: 1.3rem;

    font-weight: 600;
    letter-spacing: -0.01em;
    font-stretch: expanded;
    transform: scaleY(1.03);
}

h1 {
    font-size:4rem;
}
h2 {
    font-size:2.8rem; 
}

article img {
    width: 100%;
    margin-left: 0;
}

.hero-section {
    min-height: 500px;
}

.hero-section-with-bg {
    min-height: 65vh;
}

.hero-section__title {
    margin: 1.3rem 0 1rem 0;
}

.hero-section__row {
    flex-direction: row;
    align-items: center;
}

.main-section__aside {
    display:block;
    margin-top: 0;
}

.header__brand {
    max-width: 160px;
}

.header-fixed .header__content .header__brand {
    max-width: 120px;
}

.header-fixed .header__content .header__cta .excelsior-hero-button-xl {
    padding: 0.5rem 1.8rem;
}


.footer__menu {
    grid-gap: 5rem;
    grid-template-columns: auto auto;
    grid-auto-flow: row dense;
    display: grid;
}

.hero-section-home-carr {
    min-height: 80vh;
}
.hero-section-home-carr__cards-container{
    height: var(--hero-cards-height-tablet-desktop);
}

.hero-section__content {
    padding-bottom: 3.6rem
}

.carr-cards__grid .carr-cards__card .carr-cards__card-body .carr-cards__title {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.hero-section__cta {
    margin: 2.5rem 0 0.5rem 0;
    max-width: 200px;
}

.carr-cards__timeout-container {
    column-gap: 4rem;
}

.carr-cards__timeout {
    height: 2px;
}

.carr-cards__grid {
    column-gap: 4rem;
}

.related-posts__morebtn {
    max-width: 200px;
    margin: 4rem auto;
}